.App {
  text-align: center;
}

.App-header {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  height: 25vh;
  justify-content:center ;
  margin-bottom: 30px;
}

.App-link {
  color: #61dafb;
}


.taskRow{
  width: 50vw;
  margin: auto;
}
.table{
  margin-bottom: 20px;
 
}
.btn-danger{
  margin-top: 40px;
}

@media (max-width: 767px){
  .form-inline{
    display:flex;
    justify-content: center;
  }

}